.steambutton {
  display: block;
  background-color: #6f9f31;
  width: 200px;
  height: 36px;
  line-height: 36px;
  margin: auto;
  color: #fff;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  text-decoration: none;
  padding: 0;
}

.steambutton span {
  font-weight: bold;
  letter-spacing: 0.05em;
  width: 75%;
  font-size: 13px;
  text-transform: uppercase;
  left: 0;
}

.steambutton span,
.steambutton .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

.steambutton .icon .fa {
  font-size: 20px;
  line-height: 36px;
}

.steambutton .icon {
  width: 25%;
  right: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.steambutton span:after {
  content: "";
  background-color: #5d8628;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}

.steambutton:hover span {
  /* No animation */
}

.steambutton:hover .icon {
  /* No animation */
}

.steambutton:hover .icon .fa {
  /* No animation */
}
