@import "tailwindcss";

@layer base {
  :root {
    --background: 260 100% 5%;
    --foreground: 0 0% 100%;
    --muted: 260 50% 20%;
    --muted-foreground: 0 0% 80%;
    --popover: 260 100% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 260 100% 7%;
    --card-foreground: 0 0% 100%;
    --border: 260 50% 20%;
    --input: 260 50% 20%;
    --primary: 265 100% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 158 89% 51%;
    --secondary-foreground: 0 0% 100%;
    --accent: 158 89% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 265 100% 64%;
    --chart-1: 264 96% 81%;
    --chart-2: 264 9% 18%;
    --chart-3: 264 9% 18%;
    --chart-4: 264 9% 21%;
    --chart-5: 264 99% 81%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-space), system-ui, sans-serif;
  }
}

@layer utilities {
  .solana-gradient {
    @apply bg-gradient-to-r from-[#9945FF] to-[#14F195];
  }

  .solana-gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#9945FF] to-[#14F195];
  }
}

/* Hide number input spinners for Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide number input spinners for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.scrollbar-slim-change::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-slim-change::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
  height: 4px;
}

.scrollbar-slim-change::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  border: 1px solid #888;
}

.scrollbar-slim-change::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 1px solid #555;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
