@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 260 100% 5%;
    --foreground: 0 0% 100%;
    --muted: 260 50% 20%;
    --muted-foreground: 0 0% 80%;
    --popover: 260 100% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 260 100% 7%;
    --card-foreground: 0 0% 100%;
    --border: 260 50% 20%;
    --input: 260 50% 20%;
    --primary: 265 100% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 158 89% 51%;
    --secondary-foreground: 0 0% 100%;
    --accent: 158 89% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 265 100% 64%;
    --chart-1: 264 96% 81%;
    --chart-2: 264 9% 18%;
    --chart-3: 264 9% 18%;
    --chart-4: 264 9% 21%;
    --chart-5: 264 99% 81%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .solana-gradient {
    @apply bg-gradient-to-r from-[#9945FF] to-[#14F195];
  }

  .solana-gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#9945FF] to-[#14F195];
  }
}
